/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr3	20218173	AC	AAC	0.5126	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr7	151262764	GAT	GGT	0.5326	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr11	119177131	CATTCTCC	CTAT	0.5089	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr10	75842279	TCCGTGACCCTAGTGCCTCCCCAGGTA	TTTATTAGTAG	0.4452	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr20	45362356	CCT	CCC	0.5527	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr18	28650622	CATTTTAGAAGG	CGATGGGGGTGG	0.4697	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr9	108358932	ACAGTGGGTATGTAGAATAAACAAGAAATTTCTCA	ATGGGCAATT	0.4621	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	228470925	GCGGGCGAGTACACGTGTGAGGTGG	GCTTGATCCCAAGCAGTATTGTTC	0.4778	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr6	123833583	ATAA	ATG	0.5341	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	237777859	GGAG	GGG	0.5190	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	228556894	CCTCCAAAG	CTTGT	0.4454	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr9	137630337	CCCGCCTG	CTTGCG	0.3839	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr2	179597592	GCT	GTC	0.5782	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	11907205	CAA	CGC	0.4796	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	228543825	TCGCTATTCCGACTGTTTTCTTTGT	TAGGTCGTGGTGCAATCGGACT	0.5420	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr11	124756973	TGGAC	TGAA	0.5412	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr15	72847601	TTTTCTTACAGTATTTC	TGCCTCAA	0.5833	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr18	32428282	CTTGAT	CTTTCC	0.4710	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr10	18430030	TGCCAGTCCTCC	TCTGAGGGG	0.4863	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr2	179580276	CAG	CTC	0.4491	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr6	76545722	AGACT	ACA	0.5352	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr2	179474551	TGTTCATTGCA	TGA	0.4715	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr12	32977097	CTATCA	CTA	0.4947	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr3	141277815	TGG	TAA	0.5164	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr15	63335889	CCGCCGCTGCCCCC	CACGCTTT	0.5050	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chrX	32632482	TTTTCCTTGTTC	TTGGATATGTTA	0.4726	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chrX	135431283	CTTAACAAA	CATTAAGG	0.5226	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr18	33877853	AGCACCA	AGCCAT	0.4973	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr15	48818398	TTTGTACATTCACCCCCTTCACA	TACCTGAC	0.5582	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr11	47363657	TTGCGCCCACCA	TTG	0.4880	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr22	21348284	GCA	GAT	0.5755	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr7	83610625	TATTTTTCCTA	TAACCGCACAT	0.4722	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	74808871	AAT	ATA	0.4776	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr3	38628899	AGGAGCGCAGCACCGACA	ACATCGTAATCAG	0.4749	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr7	83610711	CTCAGCA	CGCAACT	0.6174	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr7	81799937	ACAATAAATCTTAGAATTCAA	ACT	0.5564	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	228475638	CTTCTGCCACCCTCACAGTGACT	CTTCTGTTCTCCTGCTTG	0.5516	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	228491597	GTGTGCGGGCAGGAGAGAACCTCA	GGCAGA	0.4813	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr1	228444369	GCCA	GCT	0.4737	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr16	2159723	GCTGCCTCCGGGC	GTGGGCCC	0.4833	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr9	139397558	AGCCAGCG	ACTCC	0.3802	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr7	91691621	TTTTTGA	TTATCGA	0.5249	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr18	3090790	AT	ATT	0.4792	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr12	8995780	TTACTAC	TCAG	0.5525	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr15	66782797	TGTTTCTTT	TACCCA	0.5303	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr19	4101028	AG	AGT	0.4999	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr9	137709733	GAGGG	GCC	0.5532	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr21	44478868	TGTCCAGTGACACTGACGGGGTGGAGCTGGGCAG	TTTAGTAGTCACATGGCTA	0.5935	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr3	123444742	CA	CCA	0.4028	delins	clone1
/raw-data/projectes/SPIKE_IN_BAM/BAM_PANELS/RB16187.rmdup.bam	chr6	133827278	TGGAAGAAATGA	TAC	0.4927	delins	clone1
